.projectContainer {
    padding-top: 110px;
    min-height: calc(100vh - 110px - 12px);
}

.projectContent {
    margin: 40px 0;
    background-color: #FAFAFA;
    height: 100%;
    min-height: calc(100vh - 110px - 120px - 80px);
    border-radius: 40px;
    padding: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.projectContent > header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.projectContent > header > aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectContent > header > aside > h1 {
    margin-left: 15px;
}

.projectTitle > h1 {
    font-family: 'Lalezar', sans-serif;
    font-weight: normal;
    font-size: 4rem;
    line-height: 2.4rem;
}

.projectTitle > h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    margin-top: 10px;
}

.projectBody {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.projectBody > img {
    max-width: 50%;
}

.projectDescription {
    width: 50%;
    padding-left: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

.links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.links > button {
    border: none;
    height: 40px;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    cursor: pointer;
}