.headerContainer {
    width: 100%;
    height: 110px;
    background-color: white;
    position: fixed;
    z-index: 50;
    left: 0;
    display: flex;
    align-items: center;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.1)  ; 
	-webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.1)  ; 
	-moz-box-shadow: 0 0 14px rgba(0, 0, 0, 0.1)  ; 
}

.headerContainerInner {
    margin: 0 auto;
    width: 100%;
    max-width: 1044px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Oxanium', sans-serif;
    font-weight: bold;
   
}

.logo {
    height: 40px;
    width: 60px;
}

.linksContainer {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.goBack {
    width: 38px;
    height: 38px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(78, 78, 78); 
    cursor: pointer;
    transition: background-color .2s;
}

.goBack:hover {
    background-color: rgb(238, 238, 238);
}

.goBack img {
    height: 40px;
    width: 60px;
}


@media (max-width: 1043px) {
    .headerContainer {
        padding: 0 40px;
    }
}

@media (max-width: 665px) {
    .headerContainer {
        padding: 0 20px;
        height: 80px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1)  ; 
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1)  ; 
        -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1)  ; 
    }
    .logo {
        height: 30px
    }
}

@media (max-width: 530px) {
    .linksContainer {
        width: 250px;

    }    
}

@media (max-width: 400px) {
    .linksContainer {
        width: 200px;

    }    
}
