.timelineCardContainer {  
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin: 1rem 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;  
}



.timelineYear {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--contrast);
  margin-bottom: 0.5rem;
}

.timelineTitle {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--text-primary);
  margin-bottom: 0.5rem;
}

.timelineCompany {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-secondary);
  margin-bottom: 0.5rem;
}

.timelineDescription {
  font-size: 0.9rem;
  color: var(--text-secondary);
}

.company:hover {  
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    cursor: pointer;
}

.timelineCard {
    background-color: var(--background-secondary);
    border-radius: 30px;
    padding: 32px 40px;
    color: #fff;
    position: relative;
    overflow: hidden;
    
    transition: box-shadow 0.3s;
    box-shadow: 0 0 31px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 31px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 31px rgba(0, 0, 0, 0.2);
}

.timelineCard > h3 {
    font-family: 'Lalezar', sans-serif;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 2.5rem;
    position: relative;
    z-index: 5;
    color: var(--text-primary);
}

.timelineCard > h4 {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    z-index: 5;
    color: var(--text-secondary);
}

.timelineCard > h5 {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    z-index: 5;
    color: var(--text-secondary);
    font-weight: 500;
    margin-top: 0.4rem;
}

.timelineCard > p {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    z-index: 5;
    color: var(--text-secondary);
    margin: 1.5rem 0;
    line-height: 155%;
}

.toolsList {
    margin-top: 20px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    font-family: 'Oxanium', sans-serif;   

    @media (max-width: 768px) {
      justify-content: start !important;
    }
    
}


.toolItem {
    
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    color: var(--text-primary);

    
    border-radius: 5px;
}

